.wd-input-wrapper {
    position : relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.wd-input{
    border-radius: 30px;
    height: 100%;
    padding : 10px 40px;
    position: relative;
    width: 75%;
    border: none;
    background-color: rgb(110, 118, 125, 0.3);
    font-weight: 600;
}

.wd-input-wrapper #search-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    color: rgb(110, 118, 125);
    background-color: transparent;
}

.wd-input-wrapper #settings-icon {
    margin-right: 25px ;
    color: rgb(29, 161, 242);
}



.wd-offsetRight {
    padding-right: 12px;
}

.wd-postContainer {
    display: inline-block;
}

.wd-suggestedPosts {
    border: 1px solid gray;
    padding: 20px;
}

.wd-imageContainer {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.wd-flex-container {
    display: flex;
    justify-content: space-between;
}

.wd-linksNav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 16px;
}
a {
    color: rgb(110, 118, 125);
    size: 15px;
    padding: 16px;
    text-align: center;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.wd-highlight {
    color: rgb(29, 161, 242);
    border-bottom : 3px solid rgb(29, 161, 242);
}

.wd-topic {
    color: rgb(110, 118, 125);
    size: 13px;
}
.wd-title {
    color: white;
    size: 16px;
    margin-top: 10px;
}
.wd-numTuits{
    color: rgb(110, 118, 125);
    margin-top: 10px;

    size: 13px;
}

.wd-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border-right: 16px;
}
.wd-postImage{
    height: 14px;
    width: 14px;
    border-radius: 7px;
}


